@import url(../contato/contato-botao.css);
@import url(../contato/contato-titulo.css);

.contato {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}

