@import url(../chamada/chamada-botao.css);
@import url(../chamada/chamada-texto.css);
@import url(../chamada/chamada-titulo.css);

.chamada  {
    align-items: center;
    background-color: var(--bg-chamada-mobile);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    padding-top: 12.25rem;
    padding-bottom: 2.5rem;
    text-align: center;
}


@media screen and (min-width: 1024px) {
    .chamada {
        background-image: url(../img/bg-intro.jpg);
        background-size: cover;
        padding-top: 8.25rem;
    }
}